# ------------------------------
# Java / Spring Boot
# ------------------------------
/target/
/out/
/*.log
*.class
*.jar
*.war
*.ear

# Maven
/pom.xml.tag
/pom.xml.releaseBackup
/pom.xml.versionsBackup
/logs/
/dependency-reduced-pom.xml
/buildNumber.properties

# IDE files
/.idea/
/*.iml
/.vscode/

# OS files
.DS_Store
Thumbs.db

# ------------------------------
# Environment / secrets
# ------------------------------
*.env
*.local
serviceAccountKey.json

# ------------------------------
# Node / React
# ------------------------------
/node_modules/
/build/
/dist/

# ------------------------------
# Terraform
# ------------------------------
*.tfstate
*.tfstate.*
.terraform/